body {
	/*background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ44NP3Z-5UEwhz2bYdE4reinOliStZeo9tIFmzndjPjDbvqvFY_Q");*/
	background-repeat: repeat;
	background-color: #00002B;
	color: #17FC35;
	margin-top: 0px;

}

#wrapper {
	width: 1000px;
	margin: 10px auto 0px auto;

}

#logo {
	height: 120px;
	width: 260px;
	display: block;
	margin: 0px auto 0px auto;
}

#mypic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 86px;
}

header > h1{
	text-align: center;
	color: #FBFBFC;
}

header h2{
	text-indent: 100px;
	margin: 10px auto 0px auto;
	color: black;
	padding: 0px 0px;
}


nav {
	background-color: #64666B;
	height: 50px;
	padding: 1px;
}

ul.navList li {
	display: inline;
	margin-right: 10px;
	/*border: 1px solid red;*/
	padding: 0px 5px 0px 5px;
	font-weight: bolder;
}

ul.navList li a {
	color: red;
}

ul.misc li a:visited {
	color: #FFCC99;
}

ul.navList li:hover {
	background-color: #FFFFFF;
}

li > a {
	text-decoration: none;
}


/*worling on section elements (1-2)*/

#sectionOne {
	border-right-style: groove;
	background-color: #BABAD1;
	/*background-color: #F1F1F6;*/
	width: 593px;
	height: 300px;
	/*border: 2px solid blue;*/
	float: left;
	color: black;
}

section #testingP {
	text-indent: 30px;
}

#sectionOne > * {
	padding-left: 10px;
}

#sectionTwo {
	/*background-image: url("http://2.bp.blogspot.com/-iQcVs8T4ZyA/UEIpbalvw2I/AAAAAAAASoA/JPNZb6WK46Q/s1600/peru_map.jpg");
	background-repeat: no-repeat;*/
	background-color: #F1F1F6;
	width: 1000px;
	height: 390px;
	/*border: 2px solid blue;*/
	clear: both;
	color: black;
	margin: 0px;
}

#sectionTwo * {
	padding-left: 10px;
}

#sectionTwo #newDiv {
	text-align: center;
}

#loadParagraph {
	line-height: 200%;
	/*text-align: center;*/
	text-indent: 30px;
	font-weight: 600;
	position: relative;
	top: 50px;
}

aside {
	background-color: #BABAD1;
	float: left;
	width: 404px;
	height: 300px;
	/*border: 2px solid red;*/
	color: black;
	text-align: left;
}

aside  > * {
	padding-left: 10px;
}

article p {
	font-family: sans-serif;
	line-height: 200%;
	padding-left: 30px;
	padding-right: 30px;
}

/*Footer action*/

footer {
	background-color: #BFE309;
	color: black;
	height: 20px;
	margin: 0px 0px;
	text-align: center;
}


/*miscalenous informatoin*/

ul.misc li {
	list-style-type: none;
	position: relative;
	margin-bottom: 20px;
	font-weight: bolder;
	text-indent: 80px;
}

ul.misc a:hover {
	background-color: blue;
	color: white;
}

.testingText {
	background-color: red;
	color: blue;
	margin-left: -10px;
}

#edu h1, #exp h1, #plan h1, #contact h1 {
	text-align: center;
	font-size: 200%;
}

#edu p, #exp p, #plan p, #contact p {
	text-indent: 40px;
	font-weight: 900;
	padding: 0px 50px 0px 50px;
	line-height: 200%;
}

#contact p {
	text-align: center;
}
